PRISMA_DATABASE_URL=postgresql://user:password@localhost:5432/dbname
YANDEX_MAPS_API_KEY=your_yandex_maps_api_key_here
YANDEX_MAPS_ROUTER_API_KEY=your_yandex_maps_router_api_key_here
NUXT_UPLOADTHING_TOKEN=your_uploadthing_token_here